<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/datePicker.css" />
<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/editor.css" />
<script  charset="utf-8"  src="$!{imageServer}/scripts/kindeditor/kindeditor-all-min.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/kindeditor-zh_CN.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/jquery.ui.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/ui.css" />
<script type="text/javascript">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="content"]', {
		allowFileManager : false,
		resizeType : 1,
		allowPreviewEmoticons : false,
		allowImageUpload : true,
		uploadJson : '../../ajax/upload.htm',
		items : ['source','print',
				'|','undo','redo','cut','copy','paste','selectall',
				'|','forecolor','hilitecolor','bold','italic','underline','strikethrough','removeformat',
				'|','justifyleft','justifycenter','justifyright','justifyfull','insertorderedlist','insertunorderedlist','indent','outdent','subscript','superscript',
				'|','formatblock','fontname','fontsize','table',
				'|','hr',
				'|', 'emoticons', 'image', 'link'
				],
		dialogAlignType:'',
		afterBlur: function(){this.sync();}
		});
		
});
jQuery(function() {
	jQuery("#addForm").validate( {
		rules : {
			title : {
				required : true,
			},
			categoryId : {
				required:true,
			},
		},
		messages:{
			title : {
				required: "请输入标题",
			},
			categoryId: {
				required:  "请选择类目",
			},
		}
	});
});
function check(){
	if (editor.isEmpty()) {
        jQuery("#msg").html("请输入内容!");
		return false;
	}else{
		jQuery("#msg").html("");
		return true;
	}
}
</script>
<style >
.formbox .c2 td span {
	margin-left: 0px;
}
</style>
	<div class="basic">
		<div class="formbox">
			 <div class="clear"></div>
			 <form id="addForm" name="addForm" action="add.htm" method="post">
				<div class="nr">
                    <div class="nr-t"></div>
                    <div class="nr-c">
						<table class="c2 c4">
							<tr>
								<th><span style="color:red">*</span>类目：</th>
								<td>
									#springBind("prop.categoryId")
									<select name="${status.expression}" id="categoryId" class="inp">
										#foreach($cat in $!list_cats)
											<option title="$!stringUtils.stripStart($!{cat.name},'┃;&nbsp;┣┗')" value="${cat.id}" #if(${cat.id}==${prop.categoryId}) selected="selected" #end>
													#foreach($str in $!stringUtils.split($!{cat.name},";"))
														#if($str=="&nbsp")
															&nbsp;&nbsp;
															#else
																$str
														#end
													#end		
											</option>
										#end
									</select>
								</td>
							</tr>
							<tr>
								<th><span style="color:red">*</span>标题：</th>
								<td>
									#springBind("prop.title")
									<input id="title" name="${status.expression}"  class="inp required" maxLength="42" value="$!{prop.title}"/>
									<font color="red">${status.errorMessage}</font>
								</td>
							</tr>
							<tr>
								<th><span style="color:red">*</span>内容：</th>
								<td>
									#springBind("prop.content")
									<textarea id="content" class="textarea" name="${status.expression}"  style="width:80%;height:400px;" >$!{prop.content}</textarea>
									<font color="red" id="msg">${status.errorMessage}</font>
								</td>
							</tr>
						</table>
					</div>
					<div class="nr-b"></div>
				</div>
				<div class="form-but"><!-- 表单按钮区 -->
					<input type="submit" onclick="return check()" class="but" value="保存" />
                    <input type="button" class="but" value="返回" onclick="history.back(-1)"/>
                </div><!-- 表单按钮区 END -->
						<div class="clear"></div>
                    	</form>
		</div>
		<div class="clear"></div>
	</div>