<link href="$!{imageServer}/styles/validate.css" rel="stylesheet" type="text/css" />
<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(function(){
	$("#editForm").validate(
	{
		/*自定义验证规则*/
		rules:{
			name:{required:true,maxlength:42},
			description:{maxlength:42},
			ordering:{required:true,number:true,min:1,max:100,digits:true}
		},
		/*错误提示位置*/
		errorPlacement:function(error,element){
			error.appendTo(element.siblings("span"));
			jQuery("#showResult").html("");
		}
	});
})
</script>
<script type="text/javascript">
        function JudgeCategoryName()
        {
        	jQuery.ajax({
            type:"post",
            url:"$!{appServer}/checkCategoryName.htm",<!-- 待修改 -->
            dataType:"html",
            data:"categoryName="+jQuery("#name").val()+"&categoryId=$!{category.id}&parentId=$!{parentId}",
            beforeSend:function(XMLHttpRequest)
                {
                 //   jQuery("#showResult").text("正在查询");
                },
            success:function(msg)
                {   
            	jQuery("#showResult").html("");
                    if(msg == "该类目名已经存在"){
                    	jQuery("#showResult").html(msg);
                    	jQuery("#sub").attr("disabled", true); 
                    }
                    if(msg == "该类目名可以使用"){
                    	jQuery("#sub").attr("disabled", false);
                    }
                    jQuery("#showResult").css("color","red");
                },
           complete:function(XMLHttpRequest,textStatus)
                {
                    //隐藏正在查询图片
                },
          error:function()
               {
                    //错误处理
               }
            });
        }
</script>
<div class="main-right" >
 
            <div class="basic">
             <ul class="form-tab">
        <li class="c">
            <span>类目修改</span>
        </li>
    </ul>
<div class="formbox">
					
                    <div class="clear"></div>

<form id="editForm" name="editForm" action="$!{appServer}/art/artCategory/artCategory_edit.htm?categoryId=$!{category.id}&parentId=$!{parentId}" method="post">
	 <div class="nr">
                    	<div class="nr-t"></div>
                        
                        <div class="nr-c">

<table class="c2">
<tr>
	<th><font color="red">*</font>类目名称：</th>
	<td>#springBind("category.name")
		<input id="name" name="name" class="inp required" maxLength="42" type="text" value="$!{category.name}" onkeyup="JudgeCategoryName()"/>
		<span></span><div></div>
		<div id="showResult" style="float:left"></div>
	</td>
</tr>

<tr>
	<th>描述：</th>
	<td>#springBind("category.description")
	<textarea  class="textarea"  id="description" name="description" maxLength="42">$!{category.description}</textarea>
	<span></span>
	</td>
</tr>

<tr>
	<th><font color="red">*</font>排序号：</th>	
	<td>#springBind("category.ordering")
	<input id="ordering" name="ordering" class="inp  required" value="$!{category.ordering}"/>
	<span></span>	
	</td>
</tr>


</table>
 </div>
                        
                        <div class="nr-b"></div>
                    </div>
<div class="form-but"><!-- 表单按钮区 -->
                    
                    	<input id="sub" name="sub" type="submit" class="but" value="保存" />
                    	<input type="button" onclick="history.go(-1)" class="but" value="返回" />
                        
                    </div><!-- 表单按钮区 END -->
                                        
                    <div class="clear"></div>
                    	
</form>
	</div>
 
                <div class="clear"></div>
                
            </div>
</div>