<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/validate.css" />
<script src="$!{imageServer}/scripts/system/auth.js" type="text/javascript" charset="gb2312"></script>
<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>

<div class="main-right">
    <div class="basic">
        <ul class="form-tab">
            <li class="c">
                <span>鉴定机构修改</span>
            </li>
        </ul>
        <div class="formbox">
            <form id="authInst" name="authInst" action="edit.htm" method="post">
                <div class="clear"></div>
                <div class="nr">
                    <div class="nr-t"></div>
                    <div class="nr-c">
                        <table class="c2">
                            <tr>
                                <th>
                                    <span style="color:red">*</span>机构名称：</th>
                                    <td>
										#springBind("authInst.id")
										<input type="hidden" id="id" name="${status.expression}"  value="$!{status.value}" />
                                        #springBind("authInst.name")
                                        <input type="text" id="name" name="${status.expression}" onkeyup="this.value=this.value.trim();" value="$!{status.value}" maxlength="16" class="inp"/>
                                        <label class="error">
                                        		 #if($!{hasRegister})机构名称已经存在 #end   
                                        		 #if($!{isNameBlank})请输入机构名称 #end   
                                        		 ${status.errorMessage}
                                        </label>
                                    </td>
                            </tr>
                            <tr>
                                <th>联系地址：</th>
                                <td>
                                    #springBind("authInst.address")
                                    <input type="text" id="address" name="${status.expression}" onkeyup="this.value=this.value.trim()" value="$!{status.value}" maxlength="16" class="inp required"/>
                                    <label class="error"> ${status.errorMessage}   </label>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                <span style="color:red">*</span>联系电话/手机：</th>
                                    <td>
                                       #springBind("authInst.tel")
                                        <input type="text" id="tel" name="${status.expression}" value="$!{status.value}" onkeyup=" this.value=this.value.trim()" maxlength="13" class="inp isTel"/>
                                        <label class="error"> 
	                                        #if($!{isTelBlank}) 请输入联系电话/手机 
	                                        #elseif($!{isTelError}) 输入格式有误
	                                        #end  ${status.errorMessage} 
                                        </label> (电话号码格式为：区号-号码)
                                    </td>
                            </tr>
</table>
</div>
<div class="nr-b"></div>
</div>
<!-- 表单按钮区 -->
<div class="form-but">
    <input type="submit" id="save" name="save" class="but" value="保存" />
    <input type="button" class="but" onclick="window.location.href='$!{appServer}/auth/list.htm'" value="返回" />
</div>
<!-- 表单按钮区 END -->
<div class="clear"></div>
</form>
                </div>
</div>
        </div>
