   <div class="main-right" >        	
  <div class="basic">          
    <div class="tool">   	
        <span><a href="addIni.htm" class="bt_add" hidefocus="true">新增</a></span>
     
    </div>
  	<div class="listbox" >
   	<table class="list-table">
      <tr>
        <th width="40%">属性内容</th>
        <th width="20">属性类型</th>
        <th width="20">序列号</th>
        <th width="20">操作</th>
      </tr>

#foreach(${property} in $!{list_wholeProperty})
      <tr #if($velocityCount%2==0) class="bg"   #end>
        <td>$!{property.content}</td>
        <td>
        	#if($!{property.propertyType} == 1) 单选  #end
        	#if($!{property.propertyType} == 2) 多选  #end
        	#if($!{property.propertyType} == 3) 输入框  #end
        	#if($!{property.propertyType} == 4) 文本框  #end
        </td>
        <td>$!{property.ordering}</td>
        <td class="link-td"><a href="$!{appServer}/art/artCategoryProperty/editIni.htm?propertyId=$!{property.id}&categoryId=$!{categoryId}&parentId=$!{parentId}">修改</a>		
		<a href="$!{appServer}/art/artCategoryProperty/remove.htm?propertyId=$!{property.id}"onClick="return confirm('确定要删除该属性吗？');">删除</a>
		#if($!{property.propertyType} == 1 || $!{property.propertyType} == 2)
		<a href="$!{appServer}/art/artPropertyOption/list.htm?propertyId=$!{property.id}&categoryId=$!{categoryId}&parentId=$!{parentId}">选项管理</a>
		#end
		</td>
      </tr>
#end
#if($!list_wholeProperty.size()==0)
	<tr>    
    	<td colspan="7">
        	<p class="ts">没有结果</p>
        </td>
    </tr>
#end
    </table>
    </div>
  </div>
</div>
		