<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Cache-Control" content="no-store"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
        <title>系统管理</title>
        <link rel="stylesheet" type="text/css" href="styles/common.css" />
		<script src="$!{imageServer}/scripts/common.js" type="text/javascript"></script>
		<script src="$!{imageServer}/scripts/jquery.js" type="text/javascript"></script>
		<script src="$!{imageServer}/scripts/jquery.custom.js" type="text/javascript"></script>
    	<script type="text/javascript">
    		$(function(){
    			JQ_login();
    		})
    	</script>
    </head>
	<body class="login">
    	<div class="body950">
        $screen_content
        </div>
        <!-- 页脚 -->  
        <div class="login-foot">
            <p>
                Copyright 2013 版权所有 香港大公文化集团有限公司 交易后台管理系统
            </p>
        </div>
        <!-- 页脚 END -->
    </body>
</html>
