<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>resetPassword</title>
<style type="text/css">
div table tr td {margin:0px; padding:0px;}
body {
	width:955px;
	margin:0 auto;
	background-color:#FFF;
	border:#CCC solid;
	border-left-width:1px;
	border-right-width:1px;
}
</style>

</head>

<body>
<div>
  		<div><img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_01.jpg" width="955" height="300" /></div>
        <div><img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_02.jpg" width="955" height="32" /></div>
        <div>
        	<table border="0" cellpadding="0" cellspacing="0" >
            	<tr>
                	<td>
                    	<img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_03.jpg" width="157" height="38" />
                  </td>
                    <td width="134px">
                    	$!{realName}
                    </td>
                    <td>
                    	<img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_05.jpg" width="664" height="38" />
                    </td>
                 </tr>
             </table>
  </div>
        <div><img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_06.jpg" width="955" height="42" /></div>
        <div>
        	<table border="0" cellpadding="0" cellspacing="0" width="955px">
            	<tr>
                	<td>
                    	<img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_07.jpg" width="200" height="30" />
                  </td>
                    <td>
                    	<img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_09.jpg" width="704" height="30" />
                    </td>
              </tr>
          </table>
       </div>
       <div><img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_10.jpg" width="955" height="21" /></div>
       <div><img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_11.jpg" width="955" height="63" /></div>
       <div>
        	<table border="0" cellpadding="0" cellspacing="0" >
            	<tr>
                	<td>
                    	<img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_12.jpg" width="157" height="27" />
                  </td>
                    <td>
                    	<img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_14.jpg" width="41" height="27" />
                    </td>
                    <td width="125px">
                    	$!{password}
                    </td>
                    <td>
                    	<a href="$!{appServer}/neweast/account/activeResetPassword.htm?$!{key}">
							<img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_16.jpg" width="184" height="27" border="0" /></a>
                    </td>
                    <td>
                    	<img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_17.jpg" width="405" height="27" />
                    </td>
              </tr>
          </table>
  </div>
        <div><img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_18.jpg" width="955" height="85" /></div>
        <div><img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_20.jpg" width="955" height="70" /></div>
        <div><img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_27.jpg" width="955" height="126" /></div>
        <div><img src="http://www.takungae.com/r/cms/www/red/img/email/emailResetPasswordNew/pwemail_26.jpg" width="955" height="79" /></div>
</div>
</body>
</html>
