</script>
		
<div class="basic">
    <ul class="form-tab">
        <li class="c">
            <span>文章推广</span>
        </li>
    </ul>
    <form id="form1" action="list.htm" method="post">
		
        <div class="formbox">
            <div class="clear"></div>
            <div class="nr">
                <div class="nr-t"></div>
                <div class="nr-c">
                    <table class="c2">
						<tr >
							<th>文章名称：</th>
							<td>$!{article.articleTitle}</td>			      
                        </tr>
						<tr >
							<th>所属媒体：</th>
							<td>$!{article.mediaName}</td>
                        </tr>
						<tr >
							<th>所属专题：</th>
							<td>$!{article.subjects}</td>
                        </tr>
						<tr >
							<th>文章摘要：</th>
							<td>$!{article.articleAbstract}</td>
                        </tr>
							<tr >
							<th>文章图片：</th>
							<td>
								<a href="$!{uploadServer}/$!{article.articlePic}" title="点击看大图" target="_blank">
									<img width="100" height="100" src="$!{uploadServer.get($!{article.articlePic})}?x-oss-process=image/resize,m_pad,h_100,w_100"/>
                                </a>
							</td>
                        </tr>
						<tr >#if($!{article.transitionPic})
							<th>过度图片：</th>
							<td>
								<a href="$!{uploadServer}/$!{article.transitionPic}" title="点击看大图" target="_blank">
									<img width="100" height="100" src="$!{uploadServer.get($!{article.transitionPic})}?x-oss-process=image/resize,m_pad,h_100,w_100"/>
                                </a>
							</td>
							#end
                        </tr>
                        <tr>
                            <th>原文链接：</th>
                            <td>$!{article.originalUrl}</td>
                        </tr>
						<tr>
                            <th>文章状态：</th>
                            <td>#if($!{article.status} == 0)待审核#elseif($!{article.status} == -1)审核驳回#else 正常#end</td>
                        </tr>
						<tr>
                            <th>创建时间：</th>
                            <td>$!{dateTool.format($!{article.gmtCreate})} </td>
                        </tr>
						<tr>
                            <th>修改时间：</th>
                            <td> $!{dateTool.format($!{article.gmtModify})}</td>
                        </tr>
                    </table>
				
                </div>
                <div class="nr-b"></div>
            </div>
			 <div class="nr">
                <div class="nr-t"></div>
                <div class="nr-c">
					<div class="tool">
						<span>
							<a onclick="window.location='addRecommendArtIni.htm?articleId=$!{article.id}'" 
									 href="#" class="bt_add" hidefocus="true" >新增</a>
						</span>
					</div>
                    <table class="list-table">			
						<tr>
                			<th width="20%">艺术品名称</th>
                			<th width="20%">艺术家</th>
                			<th width="40%">推广介绍</th>
                			<th width="20%">操作</th>
						</tr>
						#if($!{articleRecommendArt} && ${articleRecommendArt.size()} > 0)
							#foreach($RecommendArt in $!{articleRecommendArt})
								<tr #if($!{velocityCount}%2 == 0) class="bg" #end>
                                <td align="center"><span onclick="window.location='$!{appServer}/art/detail.htm?artId=${RecommendArt.artId}&come=1'">$!{RecommendArt.artName}</span></td>
								<td align="center">$!{RecommendArt.artistName}</td>
								<td align="left">$!{RecommendArt.introduction}</td>
								<td align="center" class="link-td">
									<a href="removeRecommendArt.htm?id=$!{RecommendArt.id}&articleId=$!{article.id}"onClick="return confirm('确定要删除该推广艺术品吗？');">删除</a>
									<a href="editRecommendArt.htm?id=$!{RecommendArt.id}&artId=$!{RecommendArt.artId}">编辑推广</a>
								</td>
								</tr>
							#end
						 #else
						<tr>
							<td colspan="7">
								<p class="ts">没有结果</p>
							</td>
						</tr>
						#end
                    </table>
				
                </div>
                <div class="nr-b"></div>
            </div>
        </div>
        <!-- 表单按钮区-->
        <div class="form-but">
       <input type="button" onclick="location.href='list.htm'" class="but" value="返回" />
		
		</div>
        <!-- 表单按钮区 END -->
        <div class="clear"></div>
    </form>
	
</div>



</script>