<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/validate.css" />
<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/system/ownInfo.js" type="text/javascript" charset="gb2312">></script>
<div class="main-right" >
    <div class="basic">
		<ul class="form-tab">
            <li class="c">
                <span>修改个人信息</span>
            </li>
        </ul>
        <div class="formbox">
            <div class="clear"></div>
            <form id="systemUser" name="systemUser" action="update.htm" method="post">
				#springBind("systemUser.id")
			   <input type="hidden" id="id" name="${status.expression}" value="$!{status.value}"/>
                <div class="nr">
                    <div class="nr-t"></div>
                    <div class="nr-c">
                        <table class="c2">
                            <tr>
                                 <th><span class="required">*</span>用户名：</th>
                                <td>
                                    #springBind("systemUser.loginName")
                                    <input class="inp"	type="text" id="loginName" name="${status.expression}" value="$!{status.value}" readonly="true" />
                                    <label class="error">#if($!{hasRegister})用户已经存在 #end  #if($!{hasSystemUser})system用户名不能注册 #end ${status.errorMessage}</label>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="required">*</span>真实姓名：</th>
                                <td>
                                    #springBind("systemUser.realName")
                                    <input class="inp"	type="text" id="realName" name="${status.expression}" value="$!{status.value}" maxlength="12" />
                                    <label class="error">${status.errorMessage}</label>
                                </td>
                            </tr>
							   <tr>
                                <th><span class="required">*</span>原密码：</th>
                                <td>#springBind("systemUser.oldPassword")
                                    <input class="inp"	type="password" id="oldPassword" name="${status.expression}" value="$!{status.value}" maxlength="16" />
                                    <label class="error">${status.errorMessage} #if(${isPasswordInValid})输入的原密码有误 #end</label>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="required">*</span>新密 码：</th>
                                <td>#springBind("systemUser.password")
                                    <input class="inp"	type="password" id="password" name="${status.expression}" value="$!{status.value}" maxlength="16" />
                                    <label class="error">${status.errorMessage}</label>
                                </td>
                            </tr>
							<tr>
                                <th><span class="required">*</span>确认密码：</th>
                                <td>#springBind("systemUser.rePassword")
                                    <input class="inp"	type="password" id="rePassword" name="${status.expression}" value="$!{status.value}" maxlength="12" />
                                    <label class="error">${status.errorMessage}</label>
                                </td>
                            </tr>

                            <tr>
                                <th><span class="required">*</span>E-mail：</th>
                                <td>
                                    #springBind("systemUser.email")
                                    <input class="inp"	type="text" id="email" name="${status.expression}" value="$!{status.value}" maxlength="36" />
                                    <label class="error">${status.errorMessage}</label>
                                </td>
                            </tr>
                            <tr>
                                <th>电    话：</th>
                                <td>
                                    #springBind("systemUser.tel")
                                    <input class="inp tel"	type="text" id="tel" name="${status.expression}" value="$!{status.value}" maxlength="13" />
                                    <label class="error">${status.errorMessage}</label>(电话号码格式为：区号-号码)
                                </td>
                            </tr>
                            <tr>
                                <th>手    机：</th>
                                <td>
                                    #springBind("systemUser.mobile")
                                    <input class="inp mobile"	type="text" id="mobile" name="${status.expression}" value="$!{status.value}" maxlength="13" />
                                    <label class="error">${status.errorMessage}</label>
                                </td>
                            </tr>
						</table>
                    </div>
					<div class="nr-b"></div>
				</div>
                <div class="form-but"><!-- 表单按钮区 -->
                    <input type="submit" class="but" value="保存" />
					<a href="list.htm"><input type="button" class="but" value="重置"/>
                    </a>
                </div>
                <!-- 表单按钮区 END -->
                <div class="clear"></div>
            </form>
       </div>
       <div class="clear"></div>
       </div>
</div>
